/** Custom CSS for oeru-d7 **/

#navbar .container {
  position: relative;
}

#navbar .navbar-nav, #navbar .region-navigation {
  position: absolute;
  bottom: 0px;
}

#navbar .navbar-nav {
  left: 240px;
}

#navbar .navbar-default {
  border-color: #fff;
}

#navbar .navbar-nav.secondary {
  display: none;
}

#navbar .region-navigation .menu.nav {
  float: right;
  width: 300px;
  right: 0px;
  top: 0px;
  font-size: 80%;
  padding: 4px 12px;
}

#navbar .navbar-default .navbar-nav.menu li a {
  padding-bottom: 11px;
  padding-top: 11px;
}

#navbar .menu li.active {
  color: #000;
  background-color: #eee;
}

#navbar .menu li.active a.active {
  color: #000;
}

#navbar .menu li:hover, #block-system-user-menu .menu li:hover,
#navbar .menu li a:hover, #navbar .menu li a:focus {
  background-color: #aaa;
}

#navbar .menu li:hover a, #navbar .menu li.leaf a:hover {
  color: #fff;
}

#block-system-user-menu, #block-menu-menu-login-menu {
  /*float: right;*/
  position: absolute;
  right: 6px;
  top: -100px;
}

#block-system-user-menu h2, #block-menu-menu-login-menu h2 {
  display: none;
}

#block-system-user-menu li, #block-menu-menu-login-menu li {
  float: right;
}

#navbar .region-navigation {
  right: 0px;
}

#navbar .region-navigation, #edit-search-block-form--2 {
  float: right;
}

/* search form */
#search-block-form {
  position: absolute;
  right: 57px;
  bottom: 0;
}

#search-block-form, #edit-search-block-form--2 {
  width: 14em;
}

/* login form */
#user-login {
  width: 300px;
}

/*.page-header {
  margin-top: 0px;
}*/

#admin-menu, #admin-menu .dropdown {
  z-index: 1000;
}

.footer {
  padding-top: 10px;
  border-top: 1px solid #f8f5f0;
  margin-top: 1em;
  margin-bottom: 3em;
  background-color: #aaa;
}

.footer #block-block-7 {
  margin-bottom: 20px;
}

/*.sub-arrow {
  display: none;
}*/

/* legal list stuff */

#legal-list {
  counter-reset: section;
}
#legal-list h2:before {
  counter-increment: section;
  content: counter(section) ". ";
  margin: 0 0.5em 0 0;
}
#legal-list ol {
  counter-reset: clause;
  list-style: none outside none;
  text-indent: -2em;
}
#legal-list ol li {
  counter-increment: clause;
}
#legal-list ol li:before {
  content: counter(section) "." counters(clause, ".") ". ";
  margin: 0 0.5em 0 0;
}

/* Forms */
.node-type-webform .webform-client-form .form-item {
  margin-top: 16px;
  margin-bottom:6px;
}
.node-type-webform .webform-client-form .form-item .description {
  color: #888;
}
.node-type-webform .webform-client-form .form-item .form-radios {
  padding-left: 20px;
}

/** co-signers table **/
.view-co-signers .views-table td.views-field-name {
  min-width: 9em;
}

.view-co-signers .views-table td.views-field-organisation {
  min-width: 10em;
}

.view-co-signers .views-table td.views-field-submitted {
  min-width: 9em;
}

/*=========================
  Icons - see http://bootsnipp.com/snippets/featured/spinning-social-icons
 ================= */

/* footer social icons */
ul.social-network, ul.credits {
	list-style: none;
	display: inline;
	margin-left:0 !important;
	padding: 0;
}
ul.social-network li, ul.credits li {
	display: inline;
	margin: 0 5px;
}

.footer ul.credits li, .footer ul.social-network li {
  vertical-align: bottom;
}

.footer .row .footer-block {
  margin-bottom: 1em;
  text-align: center;
}

.region-sidebar-second .block:first-child {
  margin-top: 27px;
}

.view-display-id-block_1 .view-header {
  padding-bottom: 5px;
  border-bottom: 1px solid #f8f5f0;
  margin-bottom: 10px;
}

/* front page blocks */
.region-sidebar-second .block-title {
  font-size: 80%;
  font-style: italic;
  padding-bottom: 5px;
  border-bottom: 1px solid #f8f5f0;
  margin-top: 10px;
  margin-bottom: 0px;
}

.region-sidebar-second .node-teaser h2 {
  margin-top: 0;
  margin-bottom: 6px;
  line-height: 0.8;
}

.region-sidebar-second .node-teaser h2 a {
  font-size: 60%;
}
