/* Unrolled presentation CSS */
.unrolled {
  display: table;
  vertical-align: top;
}

.unrolled .intro {
  display: table-row;
}

.unrolled .slide {
  display: table-row;
}

.unrolled .image, .unrolled .description {
  padding: 8px 4px;
  border-bottom: 1px #bbb dotted;
}

.unrolled .slide:last-child .image, .unrolled .slide:last-child .description {
  border-bottom: none;
}

.unrolled .image {
  display: table-cell;
}

.unrolled .image img {
  vertical-align: top; /* this is crucial to ensure the text accompanying
                          an image is aligned with the top of the image */
}

.unrolled .description {
  display: table-cell;
}

.unrolled .credit {
  color: #999;
}

